@import "tailwindcss";
#scrol::-webkit-scrollbar{
    display: none
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    text-decoration: underline;
}
button{
     position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    
}

body{
    background-color: black;
    color: white;
}