body {
  font-family: 'Poppins', sans-serif;
  background: #065f5b; /* cyan-800 */
  margin: 0;
  color: white;
}

/* Container */
.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

/* Header */
h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* Form */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  background: white;
  padding: 15px;
  border-radius: 12px;
}

/* Inputs */
input {
  flex: 1;
  padding: 12px;
  border: 1px solid #065f5b;
  border-radius: 8px;
  outline: none;
}

/* Buttons */
button {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #065f5b;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

/* Cards */
.card {
  background: white;
  padding: 18px;
  margin: 12px 0;
  border-radius: 12px;
  color: #065f5b;
  border-left: 5px solid #065f5b;
}

.card h3 {
  margin: 0 0 8px;
}

.card p {
  margin-bottom: 10px;
}

/* Delete Button */
.card button {
  background: #065f5b;
}

/* Loader */
.loader {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}